.search-artist-container ul li, .search-playlist-container ul li {
    width: 26%;
}
.search-artist-container ul li img, .search-playlist-container ul li img {
    height: 75px;
}
.search-artist-container ul li p {
    font-size: 15px;
}
.search-playlist-container ul li p{
    font-size: 12px;
}
.search-tracks-inform .center-tracks{
    background-color: initial;
    border: none;
    max-width: 100%;
}
.search-tracks-inform .text-center h3{
    color: var(--mainGreen);
}