.artist-main-img-container{
    display: flex;
    position: relative;
    width: 22vw;
    height: 22vw;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.363)
}
.artist-img-container img{
    width: 22vw;
    height: 22vw;
}
.artist-img-container .artist-fader{
    width: 22vw;
    height: 22vw;
    background: linear-gradient(transparent, black 160%);
    position: absolute;
    top: 0;
}
.artist-main-img-container .artist-name{
    position: absolute;
    bottom: 0;
    color: white;
}
.genre-container{
    width: 22vw;
}
.genre-container .btn-genre{
    background: var(--mainGreen);
    color: white;
    border-radius: 3rem;
    cursor: none;
    pointer-events: none;
    font-size: 14px;
}
.follower-container span{
    font-weight: lighter;
}
.similar-artists-container{
    width: 22vw;
}
.similar-artists-container div h3{
    font-size: 20px;
}
.similar-artists-container ul li img {
    height: 75px;
}
.tracks-inform .text-center h3{
    color: var(--mainGreen);
}
.artist-album-container ul li {
    width: 34%;
}
.artist-album-container ul li p {
    font-size: 15px;
}
.tracks-inform{
    max-width: 42%;
}
.tracks-inform .col-md-7{
    max-width: 100%;
}
.tracks-inform .center-tracks{
    background-color: initial;
    border: none;
}
.tracks-inform .center-tracks .center-list-container, .tracks-inform .center-tracks .center-list-container li{
    border: none;
}

@media only screen and (max-width: 700px){
    .artist-main-img-container, .artist-main-img-container .artist-img-container img, 
    .artist-main-img-container .artist-img-container .artist-fader{
        width: 90vw;
        height: 60vw;
    }
    .artist-main-img-container .artist-name{
        font-size: 1.5rem;
    }
    .genre-container, .similar-artists-container {
        width: 90vw;
    }
    .tracks-inform{
        max-width: 100%;
    }
    .follower-container h4{
        font-size: 1rem;
    }
}