.current-playlist-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 23px;
    background: var(--mainGreen);
    color: white;
    border-left: 1px solid var(--mainGreen);
    border-right: 1px solid var(--mainGreen);
}
.current-playlist-container .current-playlist-image{
    width: 30%;
}
.current-playlist-container .current-playlist-image img{
    width: 100%;
}
.current-playlist-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.current-playlist-content .first-content h2{
    font-weight: 600;
}
.current-playlist-content .first-content h5{
    text-transform: capitalize;
}
.current-playlist-content .second-content span{
    display: block;
}

@media only screen and (max-width: 700px){
    .current-playlist-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .current-playlist-container .current-playlist-image{
        width: 100%;
        margin-bottom: 12%;
    }
    .current-playlist-content .first-content h2{
        font-size: 2rem;
    }
}