a{
    color: var(--carbon);
}
nav{
    background: #F3F5F7;
}
.navbar-logo a{
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.navbar-logo a{
    color: var(--mainGreen);
    text-decoration: none;
}
.nav-list-desktop{
    list-style-type: none;
    width: 30%;
}
.nav-list-desktop a{
    font-weight: 600;
}
.nav-list-desktop a:hover{
    color: var(--mainGreen);
}
.active-link{
    color: var(--mainGreen);
    text-decoration: none;
}
.search-bar input{
    font-weight: 600;
    color: var(--carbon);
}
.search-bar input:focus{
    border-color: var(--mainGreen);
box-shadow: 0 0 0 .2rem rgba(47,213,102,.25);
}
.user-profile-container{
    position: relative;
}
.user-profile-container .user-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120%;
    color: var(--carbon);
}
.user-profile-container .user-profile:hover{
    cursor: pointer;
    color: var(--mainGreen);
}
.user-profile-container .user-profile h4{
    display: inline-block;
}
.user-profile-container .user-profile svg{
    font-size: 23px;
}
.user-profile-container .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.user-profile-container .dropdown-content span{
    color: var(--carbon);
    padding: 12px 16px;
    display: block;
}
.dropdown-content span:hover {
    color: var(--mainGreen);
}
.user-profile-container:hover .dropdown-content{
    display: block;
    color: var(--mainGreen);
    cursor: pointer;
}